form{
  display: flex;
  flex-direction: column;
}

span {
  font-size: smaller;
  width: 22%;
  float: left;
  &.error {
    width: 70%;
    color: red;
    padding-left: 22%;
    padding-top: 3px;
    padding-bottom: 3px;
    > span {
      width: 100%;
    }
  }
}

input {

  margin: 5px;
  padding: 20px 10px;
  &.ng-invalid.ng-dirty.ng-touched {
    color: red;
    border: red solid 1px;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}
button {
  padding: 15px 20px;
  border: 0;
  background-color: #000000;
  color: #fff;
  margin: 10px;
}
