:host {
  display: block;

  &:hover {
    cursor: pointer;
    color: #225982;

  }

  &.user-name {
    color: #009fe3;
  }
}

.user-container{
  margin: 10px;
  padding: 20px;

}

.user-name {
  display: inline-block;
  width: 60%;
}

.user-age {
  display: inline-block;
  width: 7%;
}

.user-data {
  display: inline-block;
  width: 30%;
  text-align: right;
}
