



<div class="home-content">

  <h1>CRUD APP with HTTP-CLIENT </h1>
  <a class="grow" href="https://www.linkedin.com/learning/angular-crud-anwendungen-mit-dem-http-client/willkommen-zu-dem-video-training-angular-crud-anwendungen-mit-dem-http-client">TUTORIAL>> </a>
  <p>
   <br>
    I'm learning:
    <br>-Basics of client-server communication
    <br>- Prepare the CRUD Project
    <br>-Implement the CRUD process
    <br>-Handle errors in the client-server communication
    <br> - Intercept requests and responses </p>
</div>


<button *ngIf="!cookieAccepted" (click)="acceptCookie()">accept cookie</button>

<button class="button-hover" (click)="openModal()">open modal a</button>

<!--
<a [routerLink]="[ { outlets: { modal: ['modalA'] } } ]">open Modal</a>
-->
